/.idea/dbnavigator.xml
/Junior_Tets/.idea/dbnavigator.xml
/Junior_Tets/.idea/jsLibraryMappings.xml
/.idea/misc.xml
/.idea/vcs.xml
/Junior_Tets/Junior_Tets.iml
/Junior_Tets/.idea/misc.xml
/.idea/modules.xml
/Junior_Tets/.idea/modules.xml
/Junior_Tets/.idea/php.xml
/.idea/Scandiweb_Test.iml
